@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: transparent !important;
  user-select: none !important;
  font-size: 1.481vh; /* 16px */
}

* {
  color-scheme: normal !important;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}