@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;
    font-smooth: auto;
    color: #C1C2C5; /* Mantine dark-0 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: #1A1B1E; /* Mantine dark-7 */
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background-color: #373A40; /* Mantine dark-4 */
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #5c5f66; /* Mantine dark-3 */
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909296; /* Mantine dark-2 */
}

