@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Bai Jamjuree', sans-serif;
}

:root {
  font-size: min(.83333333vw, 1.8009478673vh);
  transition: font-size .15s linear;
  --item-color: #c2f4f91e;
  --bg-color: #121a1ce3;
  --main-color: #C2F4F9;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
  color: #fff;
  font-family: 'Bai Jamjuree', sans-serif;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 194 100% 88%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 18 25% 10%;
    --foreground: 0 0% 98%;
 
    --card: 18 25% 10%;
    --card-foreground: 0 0% 98%;
 
    --popover: 18 25% 10%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 194 100% 88%;
    --primary-foreground: 18 25% 10%;
 
    --secondary: 18 25% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 18 25% 15%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 18 25% 15%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 194 100% 40%;
    --input: 18 25% 15%;
    --ring: 194 100% 88%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}