.content {
  position: relative;
  height: calc(45vh - 85px);
  min-height: 320px;
}

.input {
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.input:focus {
  border: solid 1px rgba(255, 255, 255, 0.1);
}
