@font-face {
  font-family: 'Nexa-Book';
  src: url('./fonts/Nexa-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --item-color: #c2f4f91e;
  --bg-color: #121a1ce3;
  --main-color: #C2F4F9;
}

html {
  color-scheme: normal !important;
}

body {
  margin: 0;
  background: none !important;
  overflow: hidden !important;
  font-family: 'Nexa-Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  box-sizing: border-box;
  user-select: none;
  color: #fff;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

#root {
  background: none !important;
  overflow-y: hidden !important;
  height: 100%
}

code {
  overflow: hidden;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
