@font-face {
  font-family: "Nexa-Book";
  src: url("https://db.onlinewebfonts.com/t/2eccf178aa2ce410df13a179ba3b3761.eot");
  src: url("https://db.onlinewebfonts.com/t/2eccf178aa2ce410df13a179ba3b3761.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2eccf178aa2ce410df13a179ba3b3761.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/2eccf178aa2ce410df13a179ba3b3761.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/2eccf178aa2ce410df13a179ba3b3761.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/2eccf178aa2ce410df13a179ba3b3761.svg#Nexa-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  color-scheme: normal !important;
}

body {
  margin: 0;
  background: none !important;
  overflow: hidden !important;
  font-family: 'Nexa-Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  box-sizing: border-box;
  user-select: none;
}

#root {
  background: none !important;
  overflow-y: hidden !important;
  height: 100%
}

code {
  overflow: hidden;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
